<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <p>Welcome! Please <a href="/logout">log out</a>.</p>
    
    </head>
    <body>
    <div>
        <h1>Welcome, <%=user.displayName %>!</h1>
    </div>
    
    <br>
    <h3>Here are the trades you have requested:</h3>
    <p class='just'>Insert trades here.</p>
    </html>
